@use '../../global.scss' as media;

.section-4{
    min-height: 220vh;
    background-color: #22223b;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  .optionm{
        text-align: center;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 370px;
        max-width: 620px;

        @include media.tablet{
            max-width: 550px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @include media.phone{
            width: 400px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h2{
            font-size: 47px;
            font-weight: 600;
        }
        h4{
            font-weight: 100;
            font-size: 16px;
            margin-left: 5px;
            margin-right: 5px;

        }
    }
}

