@use '../../global.scss' as media;

.sec7{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.continut7{
    display: flex;
    transform: translateY(30%);
    display: flex;
    width: 100%;
    color: #692f60;

    @include media.phone{
        display: flex;
        flex-direction: column;
        height: 120vh;
    }
    .bxz1{
        flex: 1;
    }
    .continut3{
        font-family: 'Roboto', sans-serif;
        font-size: 16;
        font-weight: 100;
        text-align: left;
        margin-left: 25px;
        margin-right: 40px;
        flex:1;

        @include media.tablet{
            margin-top: 50px;
            margin-bottom: 30px;
        }
    }
}

.image-card-containerr{
    margin-top: 15%;
    margin-bottom: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    @include media.tablet{
        margin-top: 10%;
    }

}