@use '../../global.scss' as media;

.pachete{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.continut{
    width: 100%;
    overflow-x: hidden;
    height: auto;
    display: flex;
    margin-left: 30px;
    color: #692f60;
    gap: 25px;
    overflow-y: hidden;

    @include media.phone{
        display: flex;
        flex-direction: column;
        margin-left: 25px;
        height: auto;
    }

    @include media.tablet{
        margin-left: 25px;
        height: auto;
    }

    .locatie{
        font-family: 'Sedan SC', sans-serif;
        font-size: 90px;
        font-weight: 400;
        flex:1;

        @include media.phone{
            margin-left: -7px;
            height: auto;
            font-size: 60px;
        }

        @include media.tablet{
            margin-left: -7px;
            height: auto;
        }
    }
    .descriere{
        flex:1;
        margin-top: 16px;
        margin-right: 50px;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: 16px;
        text-align: left;        
    }
}

.mapz{
    margin-top: 5%;
    width: 100%;
    height: 150vh;
    display: flex;
    overflow-x: hidden;
    overflow: hidden;
    justify-content: center;
    @include media.desktop{
        height: 150vh;
        margin-bottom: 10%;
    }
    @include media.tablet{
        height: 140vh;
    }
    @include media.phone{
        width: 100%;
        height: 150vh;
    }
    .contmap{
        height: 660px;
        width: 90vw;
        border-radius: 50px;
        overflow-x: hidden;
        display: flex;
        justify-content: center;
        margin-left: -100px;
        margin-right: -100px;
    }
}

.panou-c{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: -5%;
    height: 100%;

    @include media.desktop{
        display: none;
    }

    @include media.tablet{
        margin-top: 20%;
        margin-bottom: 20%;
    }

    @include media.phone{
        margin-bottom: 30%;
    }

}