.circle-container {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex; /* Added for box centering */
    align-items: center; /* Added for box centering */
    justify-content: center;
    z-index: 0;
  }
  
  .box {
    position: absolute;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content; 
    height: fit-content; 
    background-color: white;
    border-radius: 10%;
    overflow: hidden; /* Clip overflowing parts of the image */
    object-fit: cover; /* Resize image to cover the entire box */
    margin: 0 auto; /* Added for centering within container */
  }

  .image-wrapper {
    transform: none; /* Center and prevent tilt */
  }

  .image-box{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
  }

.mainp{
  margin-top: 10%;
  padding-bottom: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}
