.nav-right-container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  height: 100%;
}

.nav-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.language-section {
  position: fixed;
  right: 15px;
  z-index: 99999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 62px;
  border-radius: 48px;
  background-color: #252422;
  margin-top: 25px;
  padding: 0 20px;
  overflow: hidden;
}

.language-toggle-btn {
  margin-right: 7px;
  width: 42px;
  height: 38px;
  border-radius: 48px;
  background: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  border: none;
  &:hover {
    font-size: 13px;
    cursor: pointer;
  }
}

.booking-btn {
  width: 138px;
  height: 38px;
  border-radius: 48px;
  background-color: #4c1e45;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  gap: 7px;
  text-decoration: none;
  &:hover {
    background-color: #252422;
    transition: 0.4s ease-in-out;
  }
}

.navigation-menu {
  position: fixed;
  top: 90px;
  right: 5px;
  z-index: 99999;
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    display: none;
  }
}

.nav-item {
  background-color: #252422;
  margin: 5px;
  padding: 8px 14px;
  border-radius: 15px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 14px;
  border: none;
  cursor: pointer;
  &:hover {
    font-size: 13px;
  }
}

.contact-bar {
  position: fixed;
  bottom: 20px;
  right: 15px;
  width: 200px;
  height: 40px;
  border-radius: 30px;
  background-color: #252422;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  padding: 2px 7px;
  z-index: 2;

  span {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: rgb(132, 132, 132);
  }
}

.contact-icon {
  transform: translateY(1px);
  color: white;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.2);
  }
}
