@use '../../global.scss' as media;

.sec2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 20px;

    @include media.desktop{
        padding-top: 5%;
        padding-bottom: 10%;
    }

    @include media.phone{
        display: flex;
        flex-direction: column;
        margin-left: 25px;
        height: auto;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    @include media.tablet{
        padding-top: 15%;
        padding-bottom: 15%;
        margin-left: 25px;
        height: auto;
    }
    @media(min-height: 1300px) {
        padding: 0;
    }
    span{
        margin-left: 30px;
        font-family: 'Sedan SC', sans-serif;
        font-size: 90px;
        font-weight: 400;
        color: #692f60;
        width: 70%;

        @include media.phone{
            display: flex;
            flex-direction: column;
            margin-left: -7px;
            height: auto;
        }

        @include media.tablet{
            margin-left: -7px;
            height: auto;
        }
    }
    p{
        width: 70%;
        text-align: left;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 100;
        color: #692f60;
    }
}