@use '../../global.scss' as media;

.section5-container {
  position: relative;
  min-height: 230vh;
}

.section5-overlay-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; // Ensure text is above the scroll content
  font-family: 'Sedan SC', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 80px;
  text-align: center;

  @include media.tablet {
    font-size: 55px;
  }

  @include media.phone {
    font-size: 27px;
  }
}

.section5-scroll {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000; // Background color for contrast
  z-index: 1; // Ensure scrollable area is below overlay text
}
