@use './global.scss' as media;

*{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.bdy{
    width: 100%;
    background-color: #f2e9e4;
}

.carus{
    z-index: 0;
}

.section1{
    position: relative;
    height: 160vh;   
    overflow: hidden;
    @include media.desktop{
        margin-bottom: 20%;
    }
}

.section2{
    @media(min-height: 1300px) {
        margin-top: -40%;
    }
}

.section3{
    min-height: 220vh;
}
.section4{
    min-height: 300vh;
    background-color: #22223b;
}

.section5{
    min-height: 220vh;
}

.section6{
    overflow-x: hidden;
    min-height: 150vh;
}

.pannel{
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    @include media.desktop{
        margin-top: -20%;
    }
    @include media.tablet{
        margin-top: -40%;
    }

    @include media.phone{
        margin-top: 10%;
    }
    @media(min-height: 1300px) {
        margin-top: -70%;
    }
}

.section7{
    margin-top: -10vh;
    overflow-x: hidden;
    min-height: 120vh;
    @include media.phone{
        margin-top: -40vh;
    }
}

.section8{
    z-index: 1;
    min-height: 80vh;
    border-radius: 0px 0px 50px 50px;
}

.footer{
    margin-top: 15%;
    overflow-y: scroll;
    background-color: #22223b;
}


.hi{
    overflow-x: hidden;
}
