@use './global.scss' as media;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bdy {
  width: 100%;
  background-color: #f2e9e4;
}

.carus {
  z-index: 0;
}


/* Section 1: Hero Section with Expanded Carousel */
.section1 {
  position: relative;
  height: 160vh;
  @include media.desktop {
    margin-bottom: 20%;
  }
}

/* Section 2: Description Section */
.section2 {
  @media (min-height: 1300px) {
    margin-top: -40%;
  }
}

/* Section 3: Animated Stars Section */
.section3 {
  min-height: 240vh;

  ::-webkit-scrollbar {
    display: none;
  }
}

/* Section 4: Expanded Background Section */
.section4 {
  min-height: 300vh;
  background-color: #22223b;
}

/* Section 5: Sticky Scroll and Text Centering */
.section5 {
  position: relative;
  min-height: 400vh; // Ensure sufficient height for scroll animations
  overflow-y: hidden;
  ::-webkit-scrollbar {
    display: none;
  }
}

.panel{
  display: none;
}


@media (max-width: 800px) {
  .panel{
    transform: translateY(-60px);
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}



/* Section 8: Final Section with Rounded Border and Shorter Height */
.contact {
  z-index: 1;
  border-radius: 0 0 50px 50px;
}

/* Footer: Scrollable with Dark Background */
.footer {
  transform: translateY(-50px);
  z-index: 0;
  height: 90vh;
}

/* Miscellaneous Overflow Control */
.hi {
  overflow-x: hidden;
}
