@use '../../global.scss' as media;

.control-panelo {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  background-color: #252422;
  color: whitesmoke;
  text-align: left;
  border-radius: 40px;
  width: 90%;
  max-width: 600px;
  height: auto;
  font-family: "Roboto", sans-serif;

  @include media.desktop {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 160px;
    width: 80%;
    max-width: 600px;
    gap: 30px; // Space between columns
  }


  .info-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;

    @include media.phone {
      width: 100%;
      gap: 15px;
    }
  }

  .info-section {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .title {
      font-size: 14px;
      font-weight: 100;
      opacity: 0.8;
    }

    .desc {
      font-size: 12px;
      opacity: 0.9;
      text-align: left;
      width: 100%;
    }
  }

  .left-column,
  .right-column {
    @include media.desktop {
      width: 45%; // Each column takes up half of the control-panel width
    }
  }

  .link {
    margin-top: 10px;
    display: flex;
    align-items: center;

    .link-text {
      color: whitesmoke;
      text-decoration: none;

      &:hover {
        cursor: pointer;
        font-size: 12px;
        color: lightgray;
      }
    }
  }
}


@media (min-width: 1024px) {
  .control-panelo{
    margin-bottom: 100px;
  }
}